<div class="file">
    <table ngl-datatable [data]="videos">
        <ngl-datatable-column heading="file">
            <ng-template nglDatatableCell let-row="row">{{row}}</ng-template>
        </ngl-datatable-column>

        <ngl-datatable-column heading="link">
            <ng-template nglDatatableCell let-row="row"><a href="{{baseUrl}}{{row}}" download="{{row}}">download</a>
            </ng-template>
        </ngl-datatable-column>

        <ngl-datatable-column heading="Opeations">
            <ng-template nglDatatableCell let-row="row">
                <button type="button" nglButton="neutral" (click)="onDelete(row)">delete</button>
            </ng-template>
        </ngl-datatable-column>
        <!-- Loading overlay -->
        <ng-template nglLoadingOverlay>
            <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
        </ng-template>

        <!-- No rows overlay -->
        <ng-template nglNoRowsOverlay>No data available in table!</ng-template>
    </table>
</div>
