<div class="config">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blog Module
                </mat-panel-title>
                <mat-panel-description>
                    Blog module
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle [(ngModel)]="config.blogEnabled">Enable Blog Module
            </mat-slide-toggle>
            <form>
                <button mat-raised-button color="primary" (click)="onBlogSave()">save</button>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    QQ Login
                </mat-panel-title>
                <mat-panel-description>
                    set qq connection information
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle [(ngModel)]="config.qqEnabled">Enable QQ login
            </mat-slide-toggle>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Application Url" [(ngModel)]="config.applicationUrl"
                           name="applicationUrl">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="QQ id" [(ngModel)]="config.qqId" name="qqId">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="QQ secret" [(ngModel)]="config.qqSecret" name="qqSecret">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onQQSave()">save</button>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Weixin Module
                </mat-panel-title>
                <mat-panel-description>
                    Weixin module
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle [(ngModel)]="config.weixinEnabled">Enable Weixin Module
            </mat-slide-toggle>
            <form>
                <mat-form-field>
                    <input matInput placeholder="weixin id" [(ngModel)]="config.weixinId" name="weixinId">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="weixin secret" [(ngModel)]="config.weixinSecret" name="weixinSecret">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="weixin token" [(ngModel)]="config.weixinToken" name="weixinToken">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="weixin key" [(ngModel)]="config.weixinKey" name="weixinKey">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onWeixinSave()">save</button>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Downloaer Module
                </mat-panel-title>
                <mat-panel-description>
                    Downloader module
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle [(ngModel)]="config.downloaderEnabled">Enable Downloader Module
            </mat-slide-toggle>
            <form>
                <mat-form-field>
                    <input matInput placeholder="aria2c url" [(ngModel)]="config.aria2cUrl" name="aria2cUrl">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="aria2c password" [(ngModel)]="config.aria2cPassword"
                           name="aria2cPassword">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="transmission url" [(ngModel)]="config.transmissionUrl"
                           name="transmissionUrl">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="transmission username" [(ngModel)]="config.transmissionUsername"
                           name="transmissionUsername">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="transmission password" [(ngModel)]="config.transmissionPassword"
                           name="transmissionPassword">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onDownloaderSave()">save</button>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
