<div>
    <!-- 文件选取对话框 -->
    <script type="text/ng-template" id="chooseFile.html">
        <div class="modal-header">
            <h3 class="modal-title">选择文件</h3>
        </div>
        <div class="modal-body">
            <input type="file" file-model="file">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="btn-group">
        <!-- 菜单列表 -->
        <button type="button" class="btn btn-default" ng-click="open()"><span
                class="glyphicon glyphicon-folder-open"></span></button>
        <button type="button" class="btn btn-default" ng-click="start()"><span class="glyphicon glyphicon-play"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="stop()"><span class="glyphicon glyphicon-pause"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="delete()"><span
                class="glyphicon glyphicon-trash"></span></button>
    </div>

    <table class="table table-hover table-condense table-clickable">
        <thead>
        <tr>
            <th style="width: 20px">check</th>
            <th>名称</th>
            <th>进度</th>
            <th>速度</th>
            <th>Size</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks" ng-click="onCheck(task)">
            <td>
                <span class="glyphicon"
                      ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[task.isChecked]"></span>
            </td>
            <td>{{task.name}}</td>
            <td>
                <uib-progressbar class="progress-striped active" max="1" value="task.downloadedLength/task.totalLength"
                                 type="info"></uib-progressbar>
            </td>
            <td>{{task.speed|bytes}}/s</td>
            <td>{{task.downloadedLength|bytes}}/{{task.totalLength|bytes}}</td>
            <td>{{task.status}}</td>
        </tr>
        </tbody>
    </table>
</div>
