<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">个人信息</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input disabled type="text" class="form-control" id="firstname" ng-model="user.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" ng-model="password"
                                   placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repsword" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="repsword" ng-model="repsword"
                                   placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="btn btn-default" ng-click="onUpdate()">修改密码</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">qq</h3>
            </div>
            <div class="panel-body">
                <div ng-if="qq==undefined">
                    获取数据中......
                </div>
                <div ng-if="qq==true">
                    <button class="btn btn-danger" ng-click="disconnect('qq')">解除绑定QQ</button>
                </div>
                <div ng-if="qq==false">
                    <form action="/connect/qq" method="post">
                        <button class="btn btn-success" type="submit">点击绑定QQ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">facebook</h3>
            </div>
            <div class="panel-body">
                <div ng-if="facebook==undefined">
                    获取数据中......
                </div>
                <div ng-if="facebook==true">
                    <button class="btn btn-danger" ng-click="disconnect('facebook')">解除绑定Facebook</button>
                </div>
                <div ng-if="facebook==false">
                    <form action="/connect/facebook" method="post">
                        <button class="btn btn-success" type="submit">点击绑定Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
