<div>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>用户名</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.createTime|date : 'yyyy-MM-dd HH:mm':'+0800'}}</td>
            <td>
                <span class="btn btn-danger" ng-click="onDelete(user)">删除</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage"
            ng-change="getUsers(currentPage)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
            first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
</div>
