<div>
    <mat-radio-group [(ngModel)]='taskType'>
        <mat-radio-button value="url">http协议</mat-radio-button>
        <mat-radio-button value="metalink">metalink</mat-radio-button>
        <mat-radio-button value="torrent">种子文件</mat-radio-button>
    </mat-radio-group>
</div>
<div>

    <div [hidden]="taskType != 'url'">
        <mat-input-container>
            <input matInput [(ngModel)]="urlValue">
        </mat-input-container>
    </div>
    <div [hidden]="taskType != 'metalink'">
        <mat-input-container>
            <input matInput [(ngModel)]="metalinkValue">
        </mat-input-container>
    </div>
    <div [hidden]="taskType != 'torrent'">
        <input type="file" multiple="multiple" (change)='onFileChange($event)' accept="application/x-bittorrent">
    </div>
    <button mat-raised-button (click)='addTask()'>add task</button>
    <button mat-raised-button (click)='cancel()'>cancel</button>
</div>