<div [ngClass]="styleClass" (mouseover)="onHover()" (mouseleave)="onLeave()" (click)='onClick()'>
    {{downloadTask.status}} : <span>{{downloadTask.name}}</span>
    <mat-progress-bar [color]="progressColor"
                      [mode]="progressMode"
                      [value]="progressValue"
                      [bufferValue]=1>
    </mat-progress-bar>
    ↓ {{downloadSpeed}}/s size {{downloadLength}} of {{totalLength}}<br>
    <span *ngIf="isTorrent">
    ↑ {{uploadSpeed}}/s size {{uploadLength}}
    </span>
</div>
