div{
    padding: 5px;
}

.component{
    cursor: pointer;
}

.hoveredComponent{
    cursor: pointer;
    background-color: lightblue;
}

.clickedComponent{
    cursor: pointer;
    background-color: cadetblue;
}