<div [ngClass]="styleClass" (mouseover)="onHover()" (mouseleave)="onLeave()" (click)='onClick()'>
    {{downloadTask.status}} : <span>{{downloadTask.name}}</span>
    <mat-progress-bar [color]="progressColor"
                      [mode]="progressMode"
                      [value]="downloadTask.progressValue"
                      [bufferValue]=1>
    </mat-progress-bar>
    ↓ {{downloadTask.downloadSpeed}} size {{downloadTask.downloadLength}} of {{downloadTask.totalLength}}<br>
    <span *ngIf="downloadTask.isTorrent">
    ↑ {{downloadTask.uploadSpeed}}/s size {{downloadTask.uploadLength}}
    </span>
</div>
