body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    color: #434343;
    background: #dae3e7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.content-wrapper {
    position: absolute;
    margin-top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
}

.table-view-edit {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eceff5;
}

.table-clickable {
    cursor: pointer;
}

@media (min-width: 768px) {
    .right-nav {
        float: right;
    }
}